.navbars{
    flex-grow: 0 !important;
}
.navbar img{
    width: 150px;
}
.sign-in{
    height: auto;
    width: auto;
    margin: auto;
    padding: 50px;
}
.container1{
    max-width: 380px;
    min-width: 350px;
}
.container1 .btn{
    width: 100% !important;
}

/* dashboard css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 80vh; /* Full viewport height */
    width: 98%; /* Full viewport width */
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Takes up all available space left by sidebar */
    height: 100%; /* Ensures it fills the parent container */
}
.content {
    flex-grow: 1; /* Takes up all remaining space */
    height: 100%; /* Full height */
    overflow: hidden;
}
.dash-nav-item img{
    width: 20px;
}
.dash-nav-item span{
    color: black;
    font-size: large;
    font-weight: 600;
}
.dash-nav-item a{
    padding: 0;
    border-radius: 5px;
}
.dashboard-container button{
    width: 180px !important;
    height: 40px !important;
}
.dash-border{
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.dash-nav-item a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.dash-nav-item a.active {
    background-color: rgba(0, 0, 0, 0.1);
}


